* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


.navbar {
    background: #1F1F1F;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: fixed;
}


/* File Menu */
#file-menu {
    flex-basis: 43.5%;
}

.file-menu-scroll {
    margin-left: 30px;
    display: flex;
}

a {
    font-family: 'Encode Sans';
    text-decoration: none;
    color: #EAEAEA;
}

.file-menu-scroll a {
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
}

.menu-opened a  {
    display: flex;
    font-weight: 200;
    font-size: 0.750em;
    padding-left: 20px;
}

/* Flèche du menu déroulant */
.arrow-scroll {
    margin-top: 4px;
    margin-left: 5px;
    height: 7px;
    width: 10px;
}

/* N'affiche pas les List Item (li) de la liste mère menu-opened et du menu tool opened */
.menu-opened, .shape-opened, .export-file {
    display: none; 
}

/* Ouvrir le menu file ou menu shape au clic */
.open-file .file-menu-scroll .menu-opened, .open-shape .shape .shape-opened {
    background-color: #141414;
    width: 108px;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    position: absolute;
    top: 40px;
    
    border: 0 0.2px 0.2px 0.2px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.35);
    border-radius: 1px;
}

/* Ouvrir le menu export au survol */
.open-export .export-file {
    background-color: #141414;
    width: 108px;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    position: absolute;
    top: 40px;
    left: 108px;

    border: 0 0.2px 0.2px 0.2px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.35);
    border-radius: 1px;

}

/* Descendre la flèche quand hover */
.open-file .file-menu-scroll #arrow-scroll { 
    margin-top: 6px;
}


/* Change la couleur de fond des liens des menus en hover */
.menu-opened a:hover, .shape-opened li:hover  {
    background-color: #133346;
}

/* Menu des tools*/
.tools-menu {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    justify-content: space-between;

}

#shape-choice {
    display: flex;
    column-gap: 5px;
    cursor: pointer;
    align-items: center;
}

.open-shape .shape .shape-opened {
    row-gap: 12px;
}

.shape-opened li {
    font-family: 'Encode Sans';
    color: #eaeaea;
    font-weight: 200;
    font-size: 0.750em;
    padding-left: 20px;
    cursor: pointer;
}


/* Outil pointeur */
#move {
    background: url(../icones/Cursor.svg) no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* Outil rectangle */
#rectangle {
    background: url(../icones/Formes.svg) no-repeat;
    background-size: cover;
    width: 27px;
    height: 20px;
}

/* Outil ellipse */
#ellipse {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

/* Outil triangle */
#triangle {
    width: 20px;
    height: 18px;
    margin-right: 10px;
}

/* Outil texte */
#text {
    width: 20px;
    height: 18px;
    cursor: pointer;
}