/* Initialisation de la page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    /* height: 140vh; */
    width: 100%;
    background-color: #E0E0E0;
}

/* Navbar */
.navbar {
    background: #1F1F1F;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    z-index: 100;
    user-select: none;
}


/* File Menu */
#file-menu {
    flex-basis: 43.5%;
    
}

.file-menu-scroll {
    margin-left: 30px;
    display: flex;
}

a {
    font-family: 'Encode Sans';
    text-decoration: none;
    color: #EAEAEA;
}

.file-menu-scroll a, .font-menu a {
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
}
/* Quand on ouvre le File Menu */
.menu-opened a  {
    display: flex;
    font-weight: 200;
    font-size: 0.750em;
    padding-left: 20px;
}

/* Flèche du menu déroulant */
.arrow-scroll {
    margin-top: 4px;
    margin-left: 5px;
    height: 7px;
    width: 10px;
}

/* N'affiche pas les List Item (li) de la liste mère */
.menu-opened, .shape-opened, .export-file, .font-opened {
    display: none; 
}

/* Ouvrir le menu file ou menu shape au clic */
.open-file .file-menu-scroll .menu-opened, .open-shape .shape .shape-opened, .open-save .saving-tab {
    background-color: #141414;
    width: 108px;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    position: absolute;
    top: 40px;
    
    border: 0 0.2px 0.2px 0.2px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.35);
    border-radius: 1px;
}

/* Ouvrir le menu export ou le menu save au survol */
.open-export .export-file {
    background-color: #141414;
    width: 108px;

    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

    position: absolute;
    top: 40px;
    left: 108px;

    border: 0 0.2px 0.2px 0.2px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.35);
    border-radius: 1px;

}

/* Descendre la flèche au survol */
.open-file .file-menu-scroll #arrow-scroll { 
    margin-top: 6px;
}

/* Change la couleur de fond des liens des menus au survol */
.menu-opened a:hover, .shape-opened li:hover, .font-opened a:hover {
    background-color: #133346;
}

/* Menu des outils */
.tools-menu {
    width: 210px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    justify-content: space-between;

}

/* Affichage des formes dans le menu */
#shape-choice {
    display: flex;
    column-gap: 5px;
    cursor: pointer;
    align-items: center;
}

/* Espace entre les éléments quand le menu forme est ouvert */
.open-shape .shape .shape-opened {
    row-gap: 12px;
}
/* Personnalisation des éléments de la liste du menu forme */
.shape-opened li {
    font-family: 'Encode Sans';
    color: #eaeaea;
    font-weight: 200;
    font-size: 0.750em;
    padding-left: 20px;
    cursor: pointer;
}


/* Outil pointeur/sélection */
#moveBtn {
    background: url(../icones/Cursor.svg) no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/* Outil rectangle */
#rectangleBtn {
    background: url(../icones/Formes.svg) no-repeat;
    background-size: cover;
    width: 27px;
    height: 20px;
}

/* Outil ellipse */
#ellipseLogo {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

/* Outil triangle */
#triangleLogo {
    width: 20px;
    height: 18px;
    margin-right: 10px;
}

/* Outil texte */
#textLogo {
    width: 20px;
    height: 18px;
    cursor: pointer;
}

/* Zone de dessin et barre d'outils couleurs/texte */
.board {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* Canvas */
#whiteboard {
    background-color: #FFF;
    position: absolute;
    left: 10%;
    top: 10%;
}

/* Propriétés couleurs/texte */
.properties {
    width: 216px;
    background: #424242;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    height: 100%;
    top: 50px;
    left: calc(100% - 216px);
    row-gap: 40px;
    padding-top: 40px;
} 

/* Couleur */
.color-property {
    width: 188px;
    height: 312px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Titre "Color" */
.color-title {
    width: 80px;
    height: 30px;
    background: #282828;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.color-title p {
    color: #EAEAEA;
    font-family: "Encode Sans";
}

/* Nuancier des couleurs */
.color-panel {
    width: 188px;
    height: 230px;
    display: flex;
    justify-content: space-between;
}
#color-chart {
    border-radius: 2px;
}
#color-rainbow {
    border-radius: 2px;
}

/* Color Select */
.color-select {
    height: 22px;
    width: 22px;
    display: flex;
    justify-content: space-between;
}

/* Choix couleur de fond */
#first-color {
    height: 16px;
    width: 16px;
    background-color: #ffffff;
    border: 1px solid #787C7B;
    box-sizing: border-box;
    /* place l'élément au dessus d'un autre élément avec un Z inférieur */
    z-index: 9;    
}

/* Choix couleur de bordure */
#second-color {
    height: 16px;
    width: 16px;
    background: #000000;
    border: 1px solid #787C7B;      
    box-sizing: border-box;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: 6px;
    margin-left: 6px;
    position: absolute;
}

/* Text */
.text-property {
    width: 188px;
    /* height: 220px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    user-select: none;
}

/* Titre "Text" */
.text-title {
    width: 80px;
    height: 30px;
    background: #282828;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.text-title p {
    color: #EAEAEA;
    font-family: "Encode Sans";
}

/* Ecrire le texte désiré */
.text-input {
    width: 100%;
    height: 40px;
}

/* Explication de l'input et du highlight */
.input p, .highlight-text {
    font-family: 'Encode Sans';
    color: #eaeaea;
    font-size: 0.8em;
    padding-top: 1em;
    padding-bottom: 2em;
}

/* Explication de l'input */
.input p {
    font-style: italic;
}

/* Couleur de l'input avant de sélectionner l'outil texte */
input[type="text"] {
    background-color: #8F8F8F;
}

/* Couleur de l'input après avoir sélectionné l'outil texte */
input[type="text"].input-active {
    background-color: #FFF;
}

/* Font Menu déroulant */
.font-menu #default-font {
    padding-left: 10px;
}

/* Affichage de la Font Menu*/
.font-menu #box-font {
    height: 25px;
    border: 1px solid #787C7B;
    box-sizing: border-box;
    border-radius: 2px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Ouverture du menu déroulant font */
#box-font .box-open-font {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 1px;
}
#box-font .box-open-font .arrow-scroll-font {
    margin-top: 10px;
    width: 11px;
    height: 7px;
}

#box-font .box-open-font {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #787C7B;
    border-radius: 1px;
    display: flex;
    justify-content: center;
}
#box-font .box-open-font .arrow-scroll-font {
    margin-top: 10px;
    width: 11px;
    height: 7px;
    background: url(../icones/Arrow-scroll.svg) no-repeat;
    cursor: pointer;
}

/* Onclick Font Menu*/
.open-font .font-menu .font-opened {
    background-color: #282828;
    width: 188px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    position: absolute;
    
    border: 0 0.2px 0.2px 0.2px solid #EAEAEA;
    box-sizing: border-box;
    box-shadow: 0.5px 2px 3px rgba(0, 0, 0, 0.35);
    border-radius: 1px;
}   
.open-font .font-opened a{
    display: flex;
    padding-left: 20px;
}
.open-font .font-menu #box-font {
    border: 1px solid #787C7B;
    box-sizing: border-box;
    border-radius: 2px; 
}
.open-font #box-font .box-open-font {
    width: 25px;
    height: 25px;
    border: none;
    background-color: #787C7B;
    border-radius: 1px;
    display: flex;
    justify-content: center;
}
.open-font #box-font .box-open-font .arrow-scroll-font {
    margin-top: 12px;
    width: 11px;
    height: 7px;
    background: url(../icones/Arrow-scroll.svg) no-repeat;
}

/* Affiche un aperçu de la police sélectionnée */
#encode-Sans {
    font-family: 'Encode Sans';
    font-weight: 500;
}
#smooch-sans {
    font-family: 'Smooch Sans';
    font-weight: 500;
}
#nunito {
    font-family: 'Nunito';
    font-weight: 500;
}

.saving-tab{
    padding: 0 16px;
    background-color: #141414;
    row-gap: 10px;
    border-radius: 2px;
}

.saving-tab label{
    text-align: center;
    font-size: 0.75em;
    font-family: 'Encode Sans';
    color: #EAEAEA;
}

.saving-tab input{
    background-color: #EAEAEA;
    border-radius: 2px;
}

.saving-tab span {
    text-align: center;
    font-size: 0.7em;
    font-style: italic;
    color: #EAEAEA;
}